.header {
  border-bottom: 1px solid #FFFFFF;
  padding: 40px 20% 40px 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.avatar {
  width: 200px;
  height: 200px;
  border: 0.5px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  & .avatarInside {
    position: relative;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    overflow: hidden;
    img {
      position: absolute;
      width: 190px;
      height: 190px;
      left: calc(50% - 190px/2);
    }
  }
}
.name, .job {
  font-family: Anton, sans-serif;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
}
.name {
  margin-right: 20px;

  span {
    display: block;
    background: linear-gradient(90deg, #E0C3FC 0%, #8EC5FC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
.stick {
  width: 15px;
  height: 160px;
  background: #FFFFFF;
  margin-right: 20px;
}
.job {
  span:first-child {
    display: block;
  }
  span:last-child {
    background: linear-gradient(90deg, #FA709A 0%, #FEE140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}